.box {
  position: relative;
}

.ribbon {
  position: absolute;
  left: -5px;
  top: -15px;
  z-index: 11;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: linear-gradient(#ffb000 0%, #4a4000 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -22px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #3f5705;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #3f5705;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #3f5705;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #3f5705;
}

.showParam {
  position: relative;
  animation-name: aller;
  animation-duration: 1s;
}

@keyframes aller {
  0% {
    left: 766px;
  }

  100% {
    left: 500px;
  }
}

.hideParam {
  position: relative;
  animation-name: retour;
  animation-duration: 0.5s;
}

@keyframes retour {
  0% {
    left: 500px;
  }

  100% {
    left: 766px;
  }
}

.hour {
  text-shadow: 1px 1px #f2dea0;
  font-weight: bold;
  color: #00007a;
}

.prayerTitle {
  font-weight: bold;
  color: black;
  font-size: 15px;
}

.divHour {
  text-align: right;
  display: inline-block;
}

#divParam {
  background-color: #bbeeff;
  position: absolute;
  z-index: 12;
  overflow: hidden;
  width: 300px;
  height: 31px;
  border-style: groove;
  border-color: rgb(126, 148, 255);
  top: 40px;
  left: 766px;
}

.divCity {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

#closeBtn {
  color: aliceblue;
  position: absolute;
  margin-top: 4px;
  margin-left: -7px;
}

#choosedCity {
  direction: rtl;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;
  margin-left: 16px;
  width: 265px;
  height: 24px;
  padding: 3px;
}

#cityName {
  position: absolute;
  top: 47px;
  width: 100%;
}

#infos {
  text-align: right;
  text-shadow: 1px 1px #a0f2f2;
  color: #000000;
  margin-bottom: 0px;
  font-size: 14px;
  padding-right: 40px;
  font-weight: bold;
}

#divContainer {
  margin-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
  width: 800px;
  height: 55px;
}

#divPrayerNames {
  position: absolute;
  width: 100%;
  border-radius: 0px;
}

#divTodayBar {
  width: 100%;
  z-index: 10;
  position: absolute;
  height: 23px;
  margin: -1px;
  padding: 0px;
  background-color: transparent;
}

#hourBar {
  background-color: black;
  border-color: black;
  border-style: inset;
  opacity: 0.7;
}

#divPrayerTimes {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
}

#showCities {
  width: 20px;
  position: relative;
  left: -3px;
  top: -2px;
}

#clock {
  padding-bottom: 3px;
}

/* LOADING PAGE CSS */

.preloader-1 {
  width: 100%;
}

#divLoading {
  color: #fff;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  padding-top: 20px;
}

.preloader-1 .line {
  width: 4px;
  height: 12px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-1 .line-1 {
  animation-delay: 800ms;
}
.preloader-1 .line-2 {
  animation-delay: 600ms;
}
.preloader-1 .line-3 {
  animation-delay: 400ms;
}
.preloader-1 .line-4 {
  animation-delay: 200ms;
}
.preloader-1 .line-6 {
  animation-delay: 200ms;
}
.preloader-1 .line-7 {
  animation-delay: 400ms;
}
.preloader-1 .line-8 {
  animation-delay: 600ms;
}
.preloader-1 .line-9 {
  animation-delay: 800ms;
}

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#divLoadingContainer {
  text-align: center;
  height: 80px;
  background-color: #010045d4;
  position: relative;
  width: 800px;
  top: -10px;
  z-index: 13;
}
