.box {
  position: relative;
}

.ribbon {
  position: absolute;
  left: -5px;
  top: -15px;
  z-index: 11;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: linear-gradient(#ffb000 0%, #4a4000 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -22px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #3F5705;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #3F5705;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #3F5705;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #3F5705;
}

.showParam {
  position: relative;
  animation-name: aller;
  animation-duration: 1s;
}

@keyframes aller {
  0% {
    left: 766px;
  }

  100% {
    left: 500px;
  }
}

.hideParam {
  position: relative;
  animation-name: retour;
  animation-duration: 0.5s;
}

@keyframes retour {
  0% {
    left: 500px;
  }

  100% {
    left: 766px;
  }
}

.hour {
  text-shadow: 1px 1px lightgrey;
  font-weight: bold;
  color: black;
}

.prayerTitle {
  font-weight: bold;
  color: black;
  font-size: 15px;
}

.divHour {
  text-align: right;
  display: inline-block;
}

#divParam {
  background-color: rgb(201, 137, 16);
  position: absolute;
  z-index: 12;
  overflow: hidden;
  width: 300px;
  height: 29px;
  border-style: groove;
  border-color: rgb(126, 148, 255);
  top: 40px;
  left: 766px;
}

.divCity {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

#closeBtn {
  color: aliceblue;
  position: absolute;
  margin-top: 4px;
  margin-left: -7px;
}

#choosedCity {
  direction: rtl;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;
  margin-left: 16px;
  width: 265px;
  height: 24px;
  padding: 3px;
}

#cityName {
  position: absolute;
  top: 47px;
  width: 100%;
}

#infos {
  text-align: right;
  margin-bottom: 0px;
  font-size: 14px;
  padding-right: 40px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px lightgrey;
}

#divContainer {
  margin-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
  width: 800px;
  height: 55px;
}

#divPrayerNames {
  position: absolute;
  width: 100%;
  border-radius: 0px;
}

#divTodayBar {
  width: 100%;
  z-index: 10;
  position: absolute;
  height: 23px;
  margin: -1px;
  padding: 0px;
  background-color: transparent;
}

#hourBar {
  background-color: black;
  border-color: black;
  border-style: inset;
  opacity: 0.7;
}

#divPrayerTimes {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
}

#showCities{
  width: 20px;
  position: relative;
  left: -3px;
  top: -2px;
}